.intro-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
  }
  
  @media (max-width: 767px) {
    .intro-gif {
      background-attachment: scroll;
    }
  }
  